html{
    scroll-behavior: smooth;
}
section{
    height: 180vh;
    padding: 50px;
}

body{
    margin: 0;
    background:linear-gradient(100deg,rebeccapurple,black);
    color: whitesmoke
    
}
.navbar{
    display: flex;
    
    justify-content: center;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    overflow: hidden;
    padding-left: 0px;
    margin-top: 50px;
}
.navbar a{
    display: block;
    text-align: center;
    color: white;
    padding: 10px 40px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    
}
.navbar li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a:hover{
    color: black;
    text-decoration: underline;
}
.navbar a:active{
    color: 0.2;
}
.fa{
    margin-left: 200px;
    font-size: 30px;
    width: 200px;
    padding: 50px;
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    overflow: auto;
    border: none;
}
.fa-linkedin{
    background-color: rgb(39, 39, 255);
    border-radius: 100px;
    padding: 25px;
}
.fa-GeeksforGeeks{
    background-color: rgb(9, 194, 9);
    border-radius: 100px;
    padding: 25px;
}
.fa-Github{
    background-color: rgb(60, 60, 60);
    border-radius: 100px;
    padding: 25px;
}
.fa-linkedin:hover{
    background-color: rgb(39, 39, 200);
    box-shadow: 5px 5px 10px black;
}.fa-GeeksforGeeks:hover{
    background-color: rgb(8, 173, 8);
    box-shadow: 5px 5px 10px black;
}
.fa-Github:hover{
    background-color: rgb(70, 69, 100);
    box-shadow: 5px 5px 10px black;
}
.ch{
    display: block;
    
}
.fa-resume{

}
